.dropdownImg{
    height: 300px;
    width: 18rem;
    object-fit: contain;

}

.dropdown-menu{
    overflow-x: scroll;
    /* display: flex;
    z-index: 1; */
}

.form-select{
    width: 180px;
}

.adminTable{
    border: 2px solid rgb(211, 77, 77);
    background-color: rgba(230, 230, 230, 0.341);
}