
#cart {
  background-color: rgba(230, 230, 230, 0.341);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  width: 400px;
  height: 567px;
}

#productDisplay {
  background-color: rgba(230, 230, 230, 0.341);
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 20px;
}

.card {
  margin: 5px;
}

#addToCheckout{
  height: 80vh;
  overflow-y: scroll;

}