
img{
    border-radius: 5px;
    width: 18rem;
    height: 350px;
    object-fit: cover;
}

.card-body button{
    height: 40px;
    width: 100%;
}

.card{
    margin-right: 15px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(230, 230, 230, 0.341);
}

.card-img-top{
    object-fit: contain;
}

#sortBtns button{
    font-size: 20px;
    height: 40px;
    width: 15rem;
}

#sortLabel{
    font-size: 25px;
}

@media screen and (max-width: 768px){
    #sortBtns button{
        font-size: 15px;
        height: 40px;
        width: 8rem;
    }
}



